@use 'variables' as v;

html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
}
body {
    font-family: v.$font;
    font-size: v.$i_bold;

    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: v.$grey;
    color: v.$blue_dark;
}
*, *:before, *:after {
    box-sizing: inherit;
}
