@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,700;0,900;1,400;1,700;1,900&display=swap');
// fuentes
$font: 'Montserrat', sans-serif;

$thin: 100;
$light:200;
$regular: 400;
$medium: 500;
$bold:  700;
$black: 900;
$i_regular: 1,400;
$i_bold: 1,700;
$i_black: 1,900;

// colores
$yellow: #ffd802;

$red: #bd0113;
$red_dark: #5d0112;

$blue_aquarium: #2ca5a9;
$blue: #284d5d;
$blue_dark: #091421;

$white: #ffffff;
$silver: #dddddd;
$grey: #aaaaaa;
$black: #111111;

// tamaños Media Query
$phones: 576px;
$tables: 768px;
$desktops: 992px;
$large_desktop: 1200px;

// separacion
$separacion: 5rem;




