@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,500;0,700;1,200;1,500;1,700&display=swap');

// fuentes
$font: 'Plus Jakarta Sans', sans-serif;

$light: 200;
$medium: 500;
$bold:  700;
$i_light: 1,200;
$i_medium: 1,500;
$i_bold: 1,700;

// colores
$yellow: #ffd802;
$red: #bd0113;
$red_dark: #5d0112;
$brown:#4f463c;
$blue: #284d5d;
$blue_aquarium: #2ca5a9;
$blue_dark: #091421;
$grey: #e4e9ecd3;
$white: #ffffff;

// tamaños Media Query
$phones: 576px;
$tables: 768px;
$desktops: 992px;
$large_desktop: 1200px;




